{% extends 'assets/base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uploader.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.css') }}" />
{% endblock %}

{% block body %}
<div class="wrapper">
  <!-- Sidebar  -->
     <nav id="sidebar" class="border-right border-white">
       <form action="/get_results" method="POST" enctype="multipart/form-data">
         <h1 class="text-center mt-5">UPLOAD FILE</h1>
         <!-- Uploader -->
         <main class="page">
          <div class="box">
            <div class="input-group">
             <div class="input-group-prepend">
               <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
             </div>
             <div class="custom-file">
               <input type="file" class="custom-file-input" id="file-input"
                 aria-describedby="inputGroupFileAddon01" name="image" accept="image/*">
               <label class="custom-file-label" for="inputGroupFile01">Choose image file</label>
             </div>
           </div>
           </div>
           <!-- leftbox -->
           <div class="box-2">
             <div class="result"></div>
           </div>
           
           <!--rightbox-->
           <div class="img-result hide">
             <!-- result of crop -->
             <img class="cropped" name="cropped_img" src="" value="">
           </div>
           <!-- input file -->
           <div class="box text-center">
             <div class="options hide">
               <input type="number" class="img-w hide" value="300" min="100" max="1200" />
             </div>
             <!-- save btn -->
             <button class="btn save hide">Crop</button>
             <button type="submit" class="btn search hide" formtarget="content">Search</button>
           </div>
         </main>
         <!-- Uploader -->
        </form>
     </nav>
 
     <!-- Page Content  -->
     <div class="tab-content p-2">
     <button type="button" id="sidebarCollapse" class="btn btn-info mb-2">
         <i class="fas fa-align-left"></i>
         <span>Menu</span>
     </button>
 
         <iframe class="frame" name="content" src="/home" style="overflow:hidden; height:100%;width:100%" height="100%" width="100%" frameborder="0" ></iframe>
 
     </div>
 </div>
<script src="{{ url_for('static', filename='js/uploader.js') }}"></script>
<script src="{{ url_for('static', filename='js/cropper.js') }}"></script>
{% endblock %}